<!-- Sidebar.astro bg-blue-900 fondo azul antiguo-->
<aside class="w-full bg-blue-900 text-white p-4 max-h-screen">
    <h2 class="text-4x2 font-semibold text-center"> </h2>
    <ul class="mt-0.800 flex justify-around">
        <li class="mb-2 font-semibold text-2xl"><a href="/" class="block p-4 hover:text-gray-300">Inicio</a></li>
        <li class="mb-2 font-semibold text-2xl"><a href="clientes" class="block p-4 hover:text-gray-300">Registro clientes</a></li>
        <li class="mb-2 font-semibold text-2xl"><a href="ventas" class="block p-4 hover:text-gray-300">Ventas</a></li>
        <li class="mb-2 font-semibold text-2xl"><a href="productos" class="block p-4 hover:text-gray-300">Productos</a></li>
        <li class="mb-2 font-semibold text-2xl"><a href="monedero" class="block p-4 hover:text-gray-300">Recarga monedero</a></li>             
        <li class="mb-2 font-semibold text-2xl"><a href="about" class="block p-4 hover:text-gray-300">About</a></li>
    </ul>
</aside>